* {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

body{
	padding:100px 0;
	font-family: Arial, sans-serif;
	font-size:12px;
}

.login{
	background:#232323;
	width:500px;
	margin:0 auto;
	padding:40px 0px;
}

h1{
	margin: 10px auto;
	font-size:14px;
	color: #efefef;
}

.loginForm{
	width:60%;
	margin:0 auto;
}

.loginForm input{
	display:block;
	margin: 20px 0px;
	padding: 10px;
	border:0px;
	width: 100%;
}

.loginForm input[type="text"], .loginForm input[type="password"]{
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	background: #e8e8e8;
}

.placeholder {
    color: #999;
}

.loginForm input[type="submit"]{
	background:#db4a39;
	color: #efefef;
	cursor: pointer;
}

.loginForm input[type="submit"]:hover{
	opacity:0.9;
}

.rounded{
	-webkit-border-radius:2px;
  	-moz-border-radius:2px;
  	-o-border-radius:2px;
  	-ms-border-radius:2px;
  	border-radius:2px;
}

/*iOS fix for submit button default rounded+glare effect*/
input{
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
}


